.ttt__game {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.playground {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	margin: 100px 0px;
}

#box-5 {
	border: 2px solid lightgray;
}

#box-2 {
	border-left: 2px solid lightgray;
	border-right: 2px solid lightgray;
}

#box-8 {
	border-left: 2px solid lightgray;
	border-right: 2px solid lightgray;
}

#box-4 {
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
}

#box-6 {
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
}



.playground>.playground__box.circle::before {
	content: '';
	background-image: url("./../../assets/circle.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120px 120px;
	height: 100px;
	width: 100px;
	display: block;
}

.playground>.playground__box.cross::before {
	content: '';
	background-image: url("./../../assets/cross.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120px 120px;
	height: 100px;
	width: 100px;
	display: block;
}

.playground__buttons {
	display: flex;
	gap: 30px;
}

.btn {
	cursor: pointer;
	position: relative;
	height: 36px;
	width: 180px;
	border-radius: 0.3125rem;
	border: none;
	background-color: #44b59e;
	color: white;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 0.125rem;
}

.btn:hover:not(:disabled) {
	top: -3px;
	box-shadow: 6px 6px #89b5ac;
}

.start__game:disabled {
	background-color: rgb(192, 190, 190);
	pointer-events: none;
}

.winner__name {
	font-family: monospace;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.125rem;
	position: absolute;
	bottom: 70px;
	color: beige
}